#content {
    align-items: center;
    display: flex;
    flex-direction:column;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 300px;
    overflow: hidden;
    
}

li {
    float:right;
    padding-right: 20px;
}

a {
    display: block;
    padding: 10px;

}

li a {
color: black;
text-align: center;
padding: 20px 0px;
text-decoration: none;
}

#search {
width: 450px;
height: 50px;
border-radius: 30px;
font-size: 15px;
}