html, body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 20px;
}

nav a {
    padding: 10px;
    margin-left: 10px;
    text-decoration: none;
    color: black;
    
}

#nav .image {
    padding: 10px;
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

#middle {
    margin-top: 300px;
}

#logo {
    text-align: center;
}

#searchcontainer {
    text-align: center;
    margin-top: 10px;
}

#searchbar {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 500px;
    border-radius: 20px;
    outline: none;
    border: 1px solid rgb(216, 213, 213);
}

#buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    margin-left: 10px;
    margin-right: 10px;
    
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;

}

#language {
    display:flex;
    justify-content: center;
    font-size: 15px;
}

#language a{
    text-decoration: none;
}

.footer {

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(241, 241, 241);
}

.footer p{
    margin-left: 20px;
    color: grey;
}